<!doctype html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <title>Phototype</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'gumby/css/gumby.css' %}"/>

    <script src="{% static 'gumby/js/libs/modernizr-2.6.2.min.js' %}"></script>

    <script gumby-path="{% static 'gumby/js/libs' %}" src="{% static 'gumby/js/libs/gumby.min.js' %}"></script>
</head>
<body>
<div class="row navbar">
    <h1 class="logo">PhotoType</h1>
    {% if not user.is_anonymous %}
        <ul>
            <li><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
        </ul>
    {%  endif %}
</div>

{% block content %}{% endblock %}
